---
layout: default
---

			<div class="hero-wrap js-fullheight" style="background-image: url(images/1.jpg);" data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="js-fullheight d-flex justify-content-center align-items-center">
					<div class="col-md-8 text text-center">
						<div class="desc">
							<h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Discover the Dishes</h1>
	            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Find great ways to cook</p>
                            
                            <ul class="ftco-social mt-3">
<!--                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>-->
<!--                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>-->
                <li class="ftco-animate"><a href="https://instagram.com/hotzword?igshid=1u72asz96wqj9"><span class="icon-instagram"></span></a></li>
              </ul>
                            
						</div>
					</div>
				</div>
			</div>
			<section class="ftco-section blog_area section_padding_0_80">
	    	<div class="container justify-content-center">
	    		<div class="row">
	    			<div class="col-lg-12 ftco-animate">


    <!-- ****** Categories Area Start ****** -->
    <!-- <section class="categories_area clearfix" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single_catagory wow fadeInUp" data-wow-delay=".3s">
                        <img src="images/1.jpg" alt="">
                        <div class="catagory-title">
                            <a href="#">
                                <h5>Food</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single_catagory wow fadeInUp" data-wow-delay=".6s">
                        <img src="images/7.jpg" alt="">
                        <div class="catagory-title">
                            <a href="#">
                                <h5>Thoughts</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single_catagory wow fadeInUp" data-wow-delay=".9s">
                        <img src="images/7.jpg" alt="">
                        <div class="catagory-title">
                            <a href="#">
                                <h5>Books</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- ****** Categories Area End ****** -->
    <ul>


 				<h2 id="recipe" class="mb-3 font-weight-bold">Recipes </h2>
                    {% for post in site.posts %}
                        <!-- Single Post -->
                        <div class="col-12">
                            <div class="list-blog single-post d-sm-flex wow fadeInUpBig" data-wow-delay=".4s">
                                <!-- Post Thumb -->
                                {% if post.intro_pic!= nil %}
                                    <div class="post-thumb">
                                        <img src=" {{base_url}}/{{ post.intro_pic}}" alt="...">
                                    </div>
                                {% else %}
                                    <div class="post-thumb">
                                        <img src=" {{base_url}}/{{ post.pic}}" alt="...">
                                    </div>
                                {% endif %}
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-meta d-flex">
                                        <div class="post-author-date-area d-flex">
                                            <!-- Post Author -->
                                            <div class="post-author">
                                                <a >{{ post.level }}</a>
                                            </div>
                                            <!-- Post Date -->
                                            <div class="post-date">
                                                <a>{{ post.time }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{{ post.url }}">
                                        <h4 class="post-headline">{{ post.title }}</h4>
                                    </a>
                                    <p>{{ post.intro }}</p>
                                    <!-- <a href="#" class="read-more">Continue Reading..</a> -->
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                   
        

                <!-- ****** disqus Area begin ****** -->
        
            {% include disqus_comments.html %}
        
<!--
                        <div id="disqus_thread"></div>
                            <script>

                            /**
                            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            
                            var disqus_config = function () {
                            this.page.url = "https://hotzword.github.io/";  // Replace PAGE_URL with your page's canonical URL variable
                            this.page.identifier = '1234'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };
                            
                            (function() { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = 'https://hotzword.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                            })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
-->
                <!-- ****** disqus Area End ****** -->


                        <h2 class="mb-3 font-weight-bold">Upcoming soon </h2>

                        <!-- Single Post -->
                        <div class="col-12">
                            <div class="list-blog single-post d-sm-flex wow fadeInUpBig" data-wow-delay=".4s">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <img src="images/recipe/fenzhengrou.jpg" alt="..">
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-meta d-flex">
                                        <div class="post-author-date-area d-flex">
                                            <!-- Post Author -->
                                            <div class="post-author">
                                                <a >Pork, Sichuan cuisine</a>
                                            </div>
                                            <!-- Post Date -->
                                            <div class="post-date">
                                                <a >1 h</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <a href="recipes/fenzhengrou.html">
                                        <h4 class="post-headline">Steamed Pork Rib with Rice Powder | 粉蒸排骨</h4>
                                    </a>
                                    <p>A home style dish that is perfect for family festival dinner - like Chinese New Year or thanksgiving!</p>
                                    <!-- <a href="#" class="read-more">Continue Reading..</a> -->
                                </div>
                            </div>
                        </div>



                        <!-- Single Post -->
                        <div class="col-12">
                            <div class="list-blog single-post d-sm-flex wow fadeInUpBig" data-wow-delay=".4s">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <img src="images/recipe/shizitou.JPG" alt="..">
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-meta d-flex">
                                        <div class="post-author-date-area d-flex">
                                            <!-- Post Author -->
                                            <div class="post-author">
                                                <a href="#">Pork, Huaiyang cuisine </a>
                                            </div>
                                            <!-- Post Date -->
                                            <div class="post-date">
                                                <a href="#">2 - 5 h</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <a href="#">
                                        <h4 class="post-headline">Lion's Head (stewed meatball) | 狮子头</h4>
                                    </a>
                                    <p>Time does its maggic to this dish - Need long time stewing to reach the best texture of the meat, like it melts on your tongue.</p>
                                    <!-- <a href="#" class="read-more">Continue Reading..</a> -->
                                </div>
                            </div>
                        </div>


                        <!-- Single Post -->
                        <div class="col-12">
                            <div class="list-blog single-post d-sm-flex wow fadeInUpBig" data-wow-delay=".4s">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <img src="images/recipe/xiangguo.JPG" alt="..">
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-meta d-flex">
                                        <div class="post-author-date-area d-flex">
                                            <!-- Post Author -->
                                            <div class="post-author">
                                                <a href="#">Meat and Vegie</a>
                                            </div>
                                            <!-- Post Date -->
                                            <div class="post-date">
                                                <a href="#">45 min</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <a href="#">
                                        <h4 class="post-headline">Spicy Numbling stir-fry pot | 麻辣香锅</h4>
                                    </a>
                                    <p>A perfect dish if you are seeking for some savory dishes. And you can add thousands of things together into the pot!</p>
                                    <!-- <a href="#" class="read-more">Continue Reading..</a> -->
                                </div>
                            </div>
                        </div>


                        <!-- Single Post -->
                        <div class="col-12">
                            <div class="list-blog single-post d-sm-flex wow fadeInUpBig" data-wow-delay=".4s">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <img src="images/recipe/jinyu.JPG" alt="..">
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-meta d-flex">
                                        <div class="post-author-date-area d-flex">
                                            <!-- Post Author -->
                                            <div class="post-author">
                                                <a href="#">Dessert</a>
                                            </div>
                                            <!-- Post Date -->
                                            <div class="post-date">
                                                <a href="#">2 h</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <a href="#">
                                        <h4 class="post-headline">Goldfish Dumpling</h4>
                                    </a>
                                    <p>Honestly I got surprised when two years later I looked back and found, oh I once had made this kind of cute dishes!</p>
                                    <!-- <a href="#" class="read-more">Continue Reading..</a> -->
                                </div>
                            </div>
                        </div>


                               <!-- Single Post -->
                        <div class="col-12">
                            <div class="list-blog single-post d-sm-flex wow fadeInUpBig" data-wow-delay=".4s">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <img src="images/recipe/dog.JPG" alt="..">
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-meta d-flex">
                                        <div class="post-author-date-area d-flex">
                                            <!-- Post Author -->
                                            <div class="post-author">
                                                <a href="#">Dissert</a>
                                            </div>
                                            <!-- Post Date -->
                                            <div class="post-date">
                                                <a href="#">1 h</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <a href="#">
                                        <h4 class="post-headline">Meat Wool Teddy Dog</h4>
                                    </a>
                                    <p>Well I got surprised again, that I once had made this kind of cute dishes!</p>
                                    <!-- <a href="#" class="read-more">Continue Reading..</a> -->
                                </div>
                            </div>
                        </div>



                        <!-- Single Post -->
                        <div class="col-12">
                            <div class="list-blog single-post d-sm-flex wow fadeInUpBig" data-wow-delay=".4s">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <img src="images/recipe/fish.jpg" alt="..">
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-meta d-flex">
                                        <div class="post-author-date-area d-flex">
                                            <!-- Post Author -->
                                            <div class="post-author">
                                                <a href="#">Fish, Sichuan Cuisine</a>
                                            </div>
                                            <!-- Post Date -->
                                            <div class="post-date">
                                                <a href="#">30 min</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <a href="#">
                                        <h4 class="post-headline">Sichuan Fish with Pickled Greens | 酸菜鱼</h4>
                                    </a>
                                    <p>A dish that makes me homesick.</p>
                                    <!-- <a href="#" class="read-more">Continue Reading..</a> -->
                                </div>
                            </div>
                        </div>





	            

	           
	          </div> <!-- .col-md-8 -->
	    			<div class="col-lg-4 sidebar ftco-animate">
	           
	         
	           

	          </div><!-- END COL -->
	    		</div>
	    	</div>
	    </section>
